.App {
  text-align: center;
}

.App th {
  text-align: center;
}

.App-add-item-column {
  padding-left: 7%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
